<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  

  <vendor>MATE Monitor Preferences</vendor>
  <vendor_url>http://live.gnome.org/RandR</vendor_url>
  <icon_name>mate-display-properties</icon_name>

  <action id="org.mate.randr.install-system-wide">
    <description>Install multi-monitor settings for the whole system</description>
    <description xml:lang="ar">ثبّت إعدادات الشاشات المتعددة لكل النظام</description>
    <description xml:lang="ast">Instalar configuraciones de monitores múltiples pal sistema ensembre</description>
    <description xml:lang="bg">Инсталиране на многоекранни настройки за всички потребители</description>
    <description xml:lang="ca">Instal·la els paràmetres multimonitor a tot el sistema</description>
    <description xml:lang="cmn">將多螢幕設定值安裝到全系統</description>
    <description xml:lang="cs">Instalovat nastavení s více monitory pro celý systém</description>
    <description xml:lang="da">Installér flerskærmsindstillinger for hele systemet</description>
    <description xml:lang="de">Mehrfachbildschirmeinstellungen systemweit installieren</description>
    <description xml:lang="el">Εγκατάσταση ρυθμίσεων πολλαπλών οθονών για όλο το σύστημα</description>
    <description xml:lang="en_AU">Install multi-monitor settings for the whole system</description>
    <description xml:lang="en_GB">Install multi-monitor settings for the whole system</description>
    <description xml:lang="es">Instalar la configuración multimonitor para todo el sistema</description>
    <description xml:lang="et">Mitme kuvari sätete paigaldamine kogu süsteemile</description>
    <description xml:lang="eu">Instalatu pantaila anitzeko ezarpenak sistema osorako</description>
    <description xml:lang="fr">Installer des réglages multi-moniteurs pour tout le système</description>
    <description xml:lang="gl">Instalar as configuracións multimonitor para todo o sistema</description>
    <description xml:lang="he">התקנת הגדרות ריבוי צגים לכלל המערכת</description>
    <description xml:lang="hr">Ugradi višezaslonske postavke za cijeli sustav</description>
    <description xml:lang="hu">Többmonitoros beállítások telepítése az egész rendszer számára</description>
    <description xml:lang="id">Pasang tatanan monitor berganda bagi seluruh sistem</description>
    <description xml:lang="it">Installa impostazioni multi-monitor per l'intero sistema</description>
    <description xml:lang="ja">システム全体にマルチモニタの設定をインストールする</description>
    <description xml:lang="ko">전체 시스템에 다중 모니터 설정 설치</description>
    <description xml:lang="lt">Įdiegti daugelio vaizduoklių nustatymus visai sistemai</description>
    <description xml:lang="lv">Uzstādīt vairāku displeju atbalstu visai sistēmai</description>
    <description xml:lang="ms">Pasang tetapan monitor-berbilang untuk keseluruhan sistem</description>
    <description xml:lang="nb">Installer innstillinger for flere skjermer for hele systemet</description>
    <description xml:lang="nl">Multi-monitorinstellingen installeren voor het gehele systeem</description>
    <description xml:lang="pa">ਪੂਰੇ ਸਿਸਟਮ ਲਈ ਮਲਟੀ-ਮਾਨੀਟਰ ਸੈਟਿੰਗ ਇੰਸਟਾਲ ਕਰੋ</description>
    <description xml:lang="pl">Instalacja ustawień wielu monitorów dla całego systemu</description>
    <description xml:lang="pt">Instalar definições multimonitor em todo o sistema</description>
    <description xml:lang="pt_BR">Instalar configurações multi-monitor para todo o sistema</description>
    <description xml:lang="ro">Instalează configurări multi-monitor pentru tot sistemul</description>
    <description xml:lang="ru">Установка многомониторных настроек в качестве системных</description>
    <description xml:lang="sk">Inštalovať nastavenia s viacerými monitormi pre celý systém</description>
    <description xml:lang="sl">Namesti nastavitve večih monitorjev za celoten sistem</description>
    <description xml:lang="sr">Инсталирај подешавања више екрана на систему</description>
    <description xml:lang="sr@latin">Instaliraj podešavanja više ekrana na sistemu</description>
    <description xml:lang="sv">Installera inställningar för flera skärmar för hela systemet</description>
    <description xml:lang="tr">Çoklu ekran ayarlarını tüm sistem kapsamı için kur</description>
    <description xml:lang="ug">سىستېمىغا كوپ ئېكران تەڭشىكىنى ئورنىتىش</description>
    <description xml:lang="uk">Встановлення багатомоніторних налаштувань у якості системних</description>
    <description xml:lang="ur">سارے نظام کے لیے multi-monitor ترتیبات نصب کریں</description>
    <description xml:lang="zh_CN">为整个系统安装多显示器设置</description>
    <description xml:lang="zh_HK">將多螢幕設定值安裝到全系統</description>
    <description xml:lang="zh_TW">將多螢幕設定值安裝到全系統</description>
    <message>Authentication is required to install multi-monitor settings for all users</message>
    <message xml:lang="ar">الاستيثاق مطلوب لتثبيت إعدادات الشاشات المتعددة لكل المستخدمين</message>
    <message xml:lang="ast">Ye necesario identificase pa instalar configuraciones de monitores múltiples pa tolos usuarios</message>
    <message xml:lang="bg">Необходима е идентификация, за да се инсталират многоекранните настройки за всички потребители</message>
    <message xml:lang="ca">Cal autenticar-se per instal·lar els paràmetres multimonitor per a tots els usuaris</message>
    <message xml:lang="cmn">安裝多螢幕設定值給所有使用者需要驗證</message>
    <message xml:lang="cs">K instalaci nastavení s více monitory je vyžadováno oprávnění</message>
    <message xml:lang="da">Der kræves godkendelse for at installere flerskærmsindstillinger for alle brugere</message>
    <message xml:lang="de">Zur Installation von Mehrfachbildschirmeinstellungen, für alle Benutzer, ist eine Legitimierung erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για να εγκαταστήσετε ρυθμίσεις πολλαπλών οθονών για όλους τους χρήστες</message>
    <message xml:lang="en_AU">Authentication is required to install multi-monitor settings for all users</message>
    <message xml:lang="en_GB">Authentication is required to install multi-monitor settings for all users</message>
    <message xml:lang="es">Se requiere autenticación para instalar la configuración multimonitor para todos los usuarios</message>
    <message xml:lang="et">Kõigile kasutajatele mitme kuvari sätete paigaldamiseks on vajalik ennast autentida</message>
    <message xml:lang="eu">Autentifikazioa beharrezkoa da pantaila anitzeko ezarpenak erabiltzaile guztientzako instalatzeko</message>
    <message xml:lang="fr">Une authentification est nécessaire pour installer des réglages multi-moniteurs pour tous les utilisateurs</message>
    <message xml:lang="gl">Requírese a autenticación para instalar as configuracións multimonitor para todos os usuarios</message>
    <message xml:lang="he">נדרש אימות כדי להתקין הגדרות ריבוי צגים לכול המשתמשים</message>
    <message xml:lang="hr">Ovjera je neophodna za ugradnju višezaslonskih postavki za sve korisnike</message>
    <message xml:lang="hu">Hitelesítés szükséges többmonitoros beállítások telepítéséhez az összes felhasználó számára</message>
    <message xml:lang="id">Perlu otentikasi untuk memasang tatanan monitor berganda bagi semua pengguna</message>
    <message xml:lang="it">È necessario autenticarsi per installare le impostazioni multi-monitor per tutti gli utenti</message>
    <message xml:lang="ja">マルチモニタの設定をすべてのユーザに対して行うには、認証が必要です</message>
    <message xml:lang="ko">모든 사용자에게 적용할 다중 모니터 설정을 하려면 관리자 인증이 필요합니다</message>
    <message xml:lang="lt">Reikia patvirtinti tapatybę, norint įdiegti daugelio vaizduoklių nustatymus visiems naudotojams</message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai uzstādītu vairāku displeju atbalstu visiem lietotājiem</message>
    <message xml:lang="ms">Pengesahihan diperlukan untuk memasang tetapan monitor-berbilang untuk semua pengguna</message>
    <message xml:lang="nb">Autentisering kreves for å installere innstillinger for flere skjermer for alle brukere</message>
    <message xml:lang="nl">Authenticatie is vereist om multi-monitorinstellingen te installeren voor alle gebruikers</message>
    <message xml:lang="pa">ਸਭ ਯੂਜ਼ਰਾਂ ਵਾਸਤੇ ਮਲਟ-ਮਾਨੀਟਰ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਪਰਮਾਣਿਤਾ ਹੋਣਾ ਚਾਹੀਦਾ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zainstalować ustawienia wielu monitorów dla wszystkich użytkowników</message>
    <message xml:lang="pt">Autenticação requerida para instalar definições multimonitor para todos os utilizadores</message>
    <message xml:lang="pt_BR">É necessário autenticação para instalar configurações de multi-monitor para todos os usuários</message>
    <message xml:lang="ro">Autentificarea este necesară pentru a instala configurări multi-monitor pentru toți utilizatorii</message>
    <message xml:lang="ru">Для установки многомониторных настроек для всех пользователей требуется аутентификация</message>
    <message xml:lang="sk">Na inštaláciu nastavení s viacerými monitormi je vyžadované oprávnenie</message>
    <message xml:lang="sl">Za nameščanje nastavitev večih monitorjev za vse uporabnike so zahtevana skrbniška dovoljenja</message>
    <message xml:lang="sr">Потребна је пријава како би инсталирали подешавања више екрана за све кориснике</message>
    <message xml:lang="sr@latin">Potrebna je prijava kako bi instalirali podešavanja više ekrana za sve korisnike</message>
    <message xml:lang="sv">Autentisering krävs för att installera inställningar för flera skärmar för alla användare</message>
    <message xml:lang="tr">Çoklu ekran ayarlarını tüm kullanıcılar için kurmak kimlik doğrulaması gerektirir</message>
    <message xml:lang="ug">بارلىق ئىشلەتكۈچىلەرگە كوپ ئېكران تەڭشىكىنى ئورنىتىش ئۈچۈن دەلىللەش زۆرۈر</message>
    <message xml:lang="uk">Для встановлення багатомоніторних налаштувань для усіх користувачів потрібна автентифікація</message>
    <message xml:lang="ur">تمام صارفین کے لیے multi-monitor ترتیبات نصب کرنے کے لیے توثیق درکار ہے</message>
    <message xml:lang="zh_CN">为所有用户安装多显示器设置需要身份验证</message>
    <message xml:lang="zh_HK">安裝多螢幕設定值給所有使用者需要驗證</message>
    <message xml:lang="zh_TW">安裝多螢幕設定值給所有使用者需要驗證</message>
    <icon_name>mate-display-properties</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/mate-display-properties-install-systemwide</annotate>
  </action>

</policyconfig>