[Desktop Entry]
Name=Pluma
Name[ar]=قلم
Name[be]=Pluma
Name[ca]=Pluma
Name[cmn]=Pluma
Name[cs]=Pluma
Name[da]=Pluma
Name[de]=Pluma
Name[el]=Pluma
Name[en_AU]=Pluma
Name[en_GB]=Pluma
Name[es]=Pluma
Name[fr]=Pluma
Name[gl]=Pluma
Name[he]=עורך הטקסט Pluma
Name[hr]=Pluma
Name[hu]=Pluma
Name[id]=Pluma
Name[it]=Pluma
Name[ja]=Pluma
Name[ko]=플루마
Name[ky]=Pluma
Name[lv]=Pluma
Name[ms]=Pluma
Name[nl]=Pluma
Name[pl]=Pluma
Name[pt]=Pluma
Name[pt_BR]=Pluma
Name[ru]=Pluma
Name[sk]=Pluma
Name[sl]=Pluma
Name[tr]=Pluma
Name[uk]=Pluma
Name[ur]=پلوما
Name[zh_CN]=Pluma
Name[zh_TW]=Pluma
GenericName=Text Editor
GenericName[af]=Teksredigeerder
GenericName[am]=ጽሁፍ ማረሚያ
GenericName[ar]=مُحرّر نصوص
GenericName[as]=টেক্সট সম্পাদক
GenericName[ast]=Editor de Testu
GenericName[az]=Mətn Editoru
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটার
GenericName[br]=Embanner testennoù
GenericName[bs]=Tekst editor
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cmn]=文字編輯器
GenericName[crh]=Metin Muarriri
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
GenericName[en_AU]=Text Editor
GenericName[en_CA]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta Redaktilo
GenericName[es]=Editor de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de texto
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[hy]=Տեքստի խմբագրիչ
GenericName[id]=Penyunting Teks
GenericName[is]=Texta Ritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kk]=Мәтін түзетушісі
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtora Nivîsê
GenericName[ky]=Текст редактору
GenericName[la]=Scripta Edere
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mg]=Fanovana lahabolana
GenericName[mk]=Уредувач за текст
GenericName[ml]=എഴുത്തിടം
GenericName[mn]=Текст боловсруулагч
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Tekstredigering
GenericName[nds]=Textbewarker
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Tekstredigering
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[ps]=ليک سمونګر
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Editues teksti
GenericName[sr]=Вилењакова бележница
GenericName[sr@latin]=Vilenjakova beležnica
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி 
GenericName[te]=పాఠమును సరిచేయునది
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tk]=Metin Editçi
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Текстовий редактор
GenericName[ur]=متن مدون
GenericName[vi]=Bộ soạn thảo văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli wombhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文字編輯器
GenericName[zh_TW]=文字編輯器
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሁፍ ፋይሎች ማረሚያ
Comment[ar]=تحرير الملفات النّصية
Comment[as]=টেক্সট নথিপত্ৰ সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаваць тэкставыя файлы
Comment[be@latin]=Redahuj tekstavyja fajły
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[cmn]=編輯文字檔
Comment[crh]=Metin dosyelerini tarir et
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Rediger tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་ 
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en@shaw]=𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑓𐑲𐑤𐑟
Comment[en_AU]=Edit text files
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[id]=Edit berkas teks
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kk]=Мәтіндік файлдарды түзету
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[ky]=Текст файлдарын оңдоо
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Sunting fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje besedilnih datotek
Comment[sq]=Ndrysho file teksti
Comment[sr]=Уређивач текстуалних докумената
Comment[sr@latin]=Uređivač tekstualnih dokumenata
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[te]=పాఠ్య దస్త్రములను సరిచేయి
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[ur]=متن فائلیں مدون کریں
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Exec=pluma %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
X-MATE-DocPath=pluma/pluma.xml
X-MATE-FullName=pluma Text Editor
X-MATE-FullName[ar]=محرّر النّصوص "قلم"
X-MATE-FullName[as]=pluma টেক্সট সম্পাদক
X-MATE-FullName[ast]=Editor de testos pluma
X-MATE-FullName[be]=pluma Тэкставы рэдактар
X-MATE-FullName[bg]=Текстов редактор (pluma)
X-MATE-FullName[bn]=জিএডিট টেক্সট সম্পাদক
X-MATE-FullName[bn_IN]=pluma টেক্সট এডিটার
X-MATE-FullName[ca]=Editor de text pluma
X-MATE-FullName[ca@valencia]=Editor de text pluma
X-MATE-FullName[cmn]=pluma 文字編輯器
X-MATE-FullName[crh]=pluma Metin Muarriri
X-MATE-FullName[cs]=Textový editor pluma
X-MATE-FullName[da]=Tekstredigeringen pluma
X-MATE-FullName[de]=pluma Texteditor
X-MATE-FullName[el]=Επεξεργαστής κειμένου pluma
X-MATE-FullName[en@shaw]=·𐑜𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
X-MATE-FullName[en_AU]=pluma Text Editor
X-MATE-FullName[en_GB]=pluma Text Editor
X-MATE-FullName[es]=Editor de textos pluma
X-MATE-FullName[et]=Tekstiredaktor pluma
X-MATE-FullName[eu]=pluma testu-editorea
X-MATE-FullName[fi]=pluma-tekstimuokkain
X-MATE-FullName[fr]=Éditeur de texte pluma
X-MATE-FullName[gl]=Editor de texto pluma
X-MATE-FullName[gu]=pluma લખાણ સંપાદક
X-MATE-FullName[he]=עורך הטקסט pluma
X-MATE-FullName[hi]=जीएडिट पाठ संपादक
X-MATE-FullName[hr]=pluma uređivač teksta
X-MATE-FullName[hu]=pluma szövegszerkesztő
X-MATE-FullName[id]=Penyunting Teks pluma
X-MATE-FullName[it]=Editor di testo pluma
X-MATE-FullName[ja]=pluma テキストエディタ
X-MATE-FullName[kn]=pluma ಪಠ್ಯ ಸಂಪಾದಕ
X-MATE-FullName[ko]=플루마 텍스트 편집기
X-MATE-FullName[ky]=pluma текст редактору
X-MATE-FullName[lt]=pluma tekstų redaktorius
X-MATE-FullName[lv]=pluma teksta redaktors
X-MATE-FullName[mai]=जीएडिट पाठ संपादक
X-MATE-FullName[ml]=ജിഎഡിറ്റ് എഴുത്തിടം
X-MATE-FullName[mr]=pluma मजकूर संपादक
X-MATE-FullName[ms]=Penyunting Teks pluma
X-MATE-FullName[nb]=pluma tekstredigering
X-MATE-FullName[nds]=pluma textbewarker
X-MATE-FullName[nl]=pluma-teksteditor
X-MATE-FullName[nn]=pluma skriveprogram
X-MATE-FullName[or]=pluma ପାଠ୍ଯ ସମ୍ପାଦକ
X-MATE-FullName[pa]=ਜੀ-ਸੰਪਾਦਕ ਟੈਕਸਟ ਐਡੀਟਰ
X-MATE-FullName[pl]=Edytor tekstu pluma
X-MATE-FullName[pt]=Editor de Pexto Pluma
X-MATE-FullName[pt_BR]=Editor de texto pluma
X-MATE-FullName[ro]=Editor de text pluma
X-MATE-FullName[ru]=Текстовый редактор pluma
X-MATE-FullName[sk]=textový editor pluma
X-MATE-FullName[sl]=Urejevalnik besedil Pluma
X-MATE-FullName[sr]=Вилењакова бележница за уређивање текста
X-MATE-FullName[sr@latin]=Vilenjakova beležnica za uređivanje teksta
X-MATE-FullName[sv]=Textredigeraren pluma
X-MATE-FullName[ta]=pluma உரை திருத்தி 
X-MATE-FullName[te]=pluma పాఠమును సరిచేయునది
X-MATE-FullName[th]=เครื่องมือแก้ไขข้อความ pluma
X-MATE-FullName[tr]=pluma Metin Düzenleyici
X-MATE-FullName[uk]=Текстовий редактор pluma
X-MATE-FullName[ur]=پلوما متن مدون
X-MATE-FullName[zh_CN]=文本编辑器
X-MATE-FullName[zh_HK]=pluma 文字編輯器
X-MATE-FullName[zh_TW]=pluma 文字編輯器
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=Pluma
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.0
X-MATE-Bugzilla-ExtraInfoScript=/usr/local/libexec/pluma/pluma-bugreport.sh
