[Pluma Tool]
Name=Run command
Name[ar]=شغّل أمرًا
Name[as]=আদেশ সঞ্চালন
Name[ast]=Executar comandu
Name[be@latin]=Uruchom zahad
Name[bg]=Стартиране на команда
Name[bn]=কমান্ড সঞ্চালন
Name[bn_IN]=কমান্ড সঞ্চালন
Name[ca]=Executeu una ordre
Name[ca@valencia]=Executeu una orde
Name[cmn]=執行指令
Name[crh]=Buyruq çaptır
Name[cs]=Spustit příkaz
Name[da]=Kør kommando
Name[de]=Einen Befehl ausführen
Name[dz]=བརྡ་བཀོད་གཡོག་བཀོལ་
Name[el]=Εκτέλεση εντολής
Name[en@shaw]=𐑮𐑳𐑯 𐑒𐑩𐑥𐑭𐑯𐑛
Name[en_AU]=Run command
Name[en_GB]=Run command
Name[eo]=Plenumi komandon
Name[es]=Ejecutar orden
Name[et]=Käivita käsk
Name[eu]=Exekutatu komandoa
Name[fi]=Suorita komento
Name[fr]=Exécuter la commande
Name[ga]=Rith ordú
Name[gl]=Executar orde
Name[gu]=આદેશ ચલાવો
Name[he]=הפעלת פקודה
Name[hi]=कमांड चलाएँ
Name[hr]=Pokreni naredbu
Name[hu]=Parancs futtatása
Name[id]=Jalankan perintah
Name[it]=Esegui un comando
Name[ja]=コマンドの実行
Name[kk]=Команданы орындау
Name[kn]=ಆಜ್ಞೆಯನ್ನು ಚಲಾಯಿಸು
Name[ko]=명령 실행
Name[ky]=Команданы аткаруу
Name[lt]=Vykdyti komandą
Name[lv]=Palaist komandu
Name[mai]=कमांड चलाबू
Name[mk]=Изврши команда
Name[ml]=ആജ്ഞ പ്രവര്‍ത്തിപ്പിയ്ക്കുക
Name[mr]=आदेश चालवा
Name[ms]=Jalankan perintah
Name[nb]=Kjør kommando
Name[nds]=Order loopen laten
Name[ne]=आदेश चलाउनुहोस्
Name[nl]=Opdracht uitvoeren
Name[nn]=Køyr kommando
Name[or]=ନିର୍ଦ୍ଦେଶ ଚଲାନ୍ତୁ
Name[pa]=ਕਮਾਂਡ ਚਲਾਓ
Name[pl]=Wykonanie polecenia
Name[ps]=بولۍ ځغلول
Name[pt]=Executar um comando
Name[pt_BR]=Executar comando
Name[ro]=Execută o comandă
Name[ru]=Выполнить команду
Name[si]=විධාන ක්‍රියාත්මක කරන්න
Name[sk]=Spustiť príkaz
Name[sl]=Zaženi ukaz
Name[sq]=Ekzekuto një komandë
Name[sr]=Изврши наредбу
Name[sr@latin]=Izvrši naredbu
Name[sv]=Kör kommando
Name[ta]=இயக்குக கட்டளை
Name[te]=ఆదేశాన్ని నడుపుము
Name[th]=เรียกคำสั่ง
Name[tr]=Komut çalıştır
Name[uk]=Виконати команду
Name[ur]=کمانڈ چلائیں
Name[vi]=Chạy lệnh
Name[zh_CN]=运行命令
Name[zh_HK]=執行指令
Name[zh_TW]=執行指令
Comment=Execute a custom command and put its output in a new document
Comment[ar]=نفّذ أمرًا خاصًّا وضعْ مُخرجاته في المستند
Comment[as]=স্বনিৰ্ধাৰিত আদেশ প্ৰয়োগ কৰি উৎপন্ন ফলাফল এটা নতুন আলেখ্যনত যোগ কৰক
Comment[ast]=Executar un comandu personalizáu y poner la so salida nún documentu nuevu
Comment[be@latin]=Vykanaj peŭny zahad i ŭstaŭ jahonaje vyjście ŭ novy dakument
Comment[bg]=Изпълнение на команда и пренасочване на изхода ѝ в нов документ
Comment[bn]=স্বনির্ধারিত কমান্ড প্রয়োগ করে উৎপন্ন ফলাফল একটি নতুন নথিতে যোগ করুন
Comment[bn_IN]=স্বনির্ধারিত কমান্ড প্রয়োগ করে উৎপন্ন ফলাফল একটি নতুন ডকুমেন্টে যোগ করুন
Comment[ca]=Executeu una ordre personalitzada i poseu-ne la sortida a un document nou
Comment[ca@valencia]=Executeu una orde personalitzada i poseu-ne l'eixida a un document nou
Comment[cmn]=執行自訂指令及輸出在一個新的文件上
Comment[crh]=Şahsiyleştirilgen bir buyruq ifa et ve onıñ çıqtısını yañı bir vesiqağa qoy
Comment[cs]=Vykonat uživatelský příkaz a vložit jeho výstup do nového dokumentu
Comment[da]=Kør en tilpasset kommando og anbring dens uddata i et nyt dokument
Comment[de]=Individuellen Befehl ausführen und dessen Ausgabe in ein neues Dokument stellen
Comment[dz]=སྲོལ་སྒྲིག་བརྡ་བཀོད་ཅིག་ལག་ལེན་འཐབ་ དེ་ལས་དེའི་ཨའུཊི་པུཏི་འདི་ ཡིག་ཆ་གསརཔ་ཅིག་ནང་བཙུགས་
Comment[el]=Εκτέλεση μιας προσαρμοσμένης εντολής και τοποθέτηση του αποτελέσματος της σε ένα νέο έγγραφο
Comment[en@shaw]=𐑧𐑒𐑕𐑩𐑒𐑿𐑑 𐑩 𐑒𐑳𐑕𐑑𐑩𐑥 𐑒𐑩𐑥𐑭𐑯𐑛 𐑯 𐑐𐑫𐑑 𐑦𐑑𐑕 𐑬𐑑𐑐𐑫𐑑 𐑦𐑯 𐑩 𐑯𐑿 𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑
Comment[en_AU]=Execute a custom command and put its output in a new document
Comment[en_GB]=Execute a custom command and put its output in a new document
Comment[eo]=Plenumi propran komandon kaj meti ĝian eligon en novan dokumenton
Comment[es]=Ejecutar una orden personalizada y poner su salida en un documento nuevo
Comment[et]=Kohandatud käsu käivitamine ja selle väljundi lisamine dokumendile
Comment[eu]=Exekutatu komando pertsonalizatua eta jarri bere irteera dokumentu berrian
Comment[fi]=Suorita oma komento ja laita sen tuloste uuteen asiakirjaan
Comment[fr]=Exécuter une commande personnalisée et mettre sa sortie dans un nouveau document
Comment[gl]=Executar unha orde personalizada e pór a súa saída nun documento novo
Comment[gu]=વૈવિધ્યપૂર્ણ આદેશ ચલાવો અને તેના આઉટપુટને નવી વિન્ડોમાં મૂકો
Comment[he]=הפעלת פקודה והצבת הפלט שלה במסמך חדש
Comment[hi]=एक मनपसंद कमांड चलाएँ व इसके आउटपुट को नये दस्तावेज़ में रखें
Comment[hu]=Egyéni parancs végrehajtása és kimenetének elhelyezése új dokumentumban
Comment[id]=Jalankan perintah gubahan dan letakkan keluarannya pada dokumen baru
Comment[it]=Esegue un comando personalizzato e inserisce l'output in un nuovo documento
Comment[ja]=コマンドを実行した結果を新しいドキュメントとして取り込みます
Comment[kn]=ಒಂದು ಆಜ್ಞೆಯನ್ನು ಕಾರ್ಯಗತಗೊಳಿಸಿ ನಂತರ ಅದರ ಪ್ರದಾನವನ್ನು ಒಂದು ಹೊಸ ದಸ್ತಾವೇಜಿನಲ್ಲಿ ಇರಿಸು
Comment[ko]=사용자가 지정한 명령을 실행하고, 그 출력을 새 문서에 넣습니다
Comment[lt]=Įvykdyti komandą ir jos išvestį perkelti į naują dokumentą
Comment[lv]=Izpildīt lietotāja komandu un tās izvadu noglabāt jaunā failā
Comment[mai]=एकटा पसंदीदा कमांड चलाबू आ एकर आउटपुटकेँ नवीन दस्ताबेजमे राखू
Comment[mk]=Изврши прилагодена команда и стави ги нејзините излезни податоци во нов документ
Comment[ml]=ഒരു ആജ്ഞ പ്രവര്‍ത്തിപ്പിച്ചു് അതിന്റെ ഫലം പുതിയ രേഖയില്‍ ചേര്‍ക്കുക
Comment[mr]=इच्छिक आदेश कार्यान्वीत करा व याचे आउटपुट नविन दस्तऐवजात दाखल करा
Comment[ms]=Lakukan perintah suai dan letak outputnya dalam dokumen baru
Comment[nb]=Kjør en egendefinert kommando og lagre utdata i et nytt dokument
Comment[ne]=एउटा अनुकुल आदेश कार्यान्वयन गर्नुहोस् र यसको निर्गत नयाँ कागजातमा राख्नुहोस्
Comment[nl]=Een aangepaste opdracht uitvoeren en de uitvoer ervan in een nieuw document plaatsen
Comment[nn]=Køyr ein sjølvvald kommando og putt utdataen i eit nytt dokument
Comment[or]=ଗୋଟିଏ ଇଚ୍ଛାରୂପି ନିର୍ଦ୍ଦେଶକୁ ନିଷ୍ପାଦନ କରନ୍ତୁ ଏବଂ ଏହାର ଫଳାଫଳକୁ ଗୋଟିଏ ନୂତନ ଦଲିଲରେ ରଖନ୍ତୁ
Comment[pa]=ਇੱਕ ਪਸੰਦੀਦਾ ਕਮਾਂਡ ਚਲਾਓ ਅਤੇ ਇਸ ਦੀ ਆਉਟਪੁੱਟ ਨਵੇਂ ਡੌਕੂਮੈਂਟ 'ਚ ਰੱਖੋ
Comment[pl]=Wykonuje polecenie i wstawia jego wyniki w nowym dokumencie
Comment[pt]=Executar um comando personalizado e colocar o resultado num novo documento
Comment[pt_BR]=Executa um comando personalizado e direcione a saída para um novo documento
Comment[ro]=Execută o comandă specifică și copiază rezultatul într-un document nou
Comment[ru]=Выполнить команду и перенести её вывод в новый документ
Comment[sk]=Vykonať vlastný príkaz a vložiť jeho výstup do dokumentu
Comment[sl]=Izvede poljuben ukaz in prikaže njegov izhod v novem dokumentu
Comment[sq]=Ekzekuton një komandë të personalizuar dhe vë rezultatin e saj në një dokument të ri
Comment[sr]=Покреће команду и смешта њен излаз у нови документ
Comment[sr@latin]=Pokreće komandu i smešta njen izlaz u novi dokument
Comment[sv]=Kör ett anpassat kommando och lägg in dess utdata i ett nytt dokument
Comment[ta]=தனிப்பயன் கட்டளையை செயல்படுத்தி வெளியீட்டை புதிய ஆவணமாக ஆக்குக
Comment[te]=వినియోగదారుని ఆదేశాన్ని ఎగ్జిక్యూట్ చేసి దాని అవుట్‌పుట్ ను కొత్త పత్రమునందు ఉంచుము
Comment[th]=เรียกคำสั่งที่กำหนดโดยเก็บผลลัพธ์ในเอกสารใหม่
Comment[tr]=Harici bir özel komut çalıştır ve çıktıyı yeni bir belgeye koy
Comment[uk]=Виконати команду та перенести її вивід у новий документ
Comment[vi]=Thực hiện lệnh riêng mà xuất vào tài liệu mới
Comment[zh_CN]=执行自定义命令并将其输出捕获至新文档
Comment[zh_HK]=執行自選指令及輸出在一個新的文件上
Comment[zh_TW]=執行自訂指令及輸出在一個新的文件上
Input=nothing
Output=new-document
Applicability=all
Save-files=nothing
Languages=
