[Pluma Tool]
Name=Search
Name[ar]=ابحث
Name[ca]=Cerca
Name[cmn]=搜尋
Name[cs]=Hledat
Name[da]=Søg
Name[de]=Suche
Name[el]=Αναζήτηση
Name[en_AU]=Search
Name[en_GB]=Search
Name[es]=Buscar
Name[fr]=Recherche
Name[gl]=Buscar
Name[hr]=Traži
Name[hu]=Keresés
Name[it]=Cerca
Name[ja]=検索
Name[ko]=검색
Name[ms]=Gelintar
Name[nl]=Zoeken
Name[pl]=Szukaj
Name[pt]=Procurar
Name[pt_BR]=Pesquisa
Name[ru]=Поиск
Name[sk]=Hľadať
Name[sl]=Iskanje
Name[tr]=Ara
Name[uk]=Пошук
Name[zh_CN]=搜索
Name[zh_TW]=搜尋
Shortcut=<Primary><Shift>f
Languages=
Applicability=local
Input=document
Output=output-panel
Save-files=nothing

